@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap');
*{
    font-family: 'Nunito', sans-serif;
    font-size: 19px;
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
}


:root{
    --colors-brown: #C2541E;
    --colors-brown-dark: #752C03;
    --form-button: #88abc2;
    --colors-green: #BAC776;
    --form-background: #d0e0eb;
    --colors-green-dark: #407563;
    --form-button-hover: #49708a;
    --colors-gray: #85868A;
}

header{
    align-items: center;
    background-color: var(--colors-green-dark);
    justify-content: space-between;
    padding: .5rem 7%;
    display: flex;
    height: 4rem;
}

.logo,
.logo img{
    height: 100%;
    width: auto;
}

.nav-search,
.login{
    display: flex;
    font-weight: 700;
}

.nav-search{
    margin-right: auto;
}

.nav-link{
    color: white;
    margin: .3rem .5rem;
}

.nav-link:hover{
    color: var(--colors-green);
    border-bottom: 2px solid var(--colors-green);
}

main{
    width: 1300px;
    margin: auto;
}

.Title{
    padding: 1rem 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.donaciones,
.home{
    padding: 5rem 0;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.not-item{
    margin: 1rem auto;
    align-items: center;
    justify-content: center;
    height: 10rem;
    display: flex;
    width: 90%;
}

.not-item .not-img{
    width: 30%;
    height: 100%;
}

.not-img img{
    width: auto;
    height: 100%;
}

.form-contact{
    margin: auto;
    padding: 1rem;
    background-color:var(--form-background);
    width: 60%;
    border-radius: .2rem;
}

.form-contact > button,
.form-contact > textarea,
.form-contact > input{
    border-radius: .2rem;
    display: block;
    margin: 1rem auto;
    width: 100%;
    padding: .2rem;

}

button{
    background-color: var(--form-button);
    color: white;
    font-weight: 700;
}

button:hover{
    background-color: var(--form-button-hover);
}

.btn{
    cursor: pointer;
    background-color: var(--form-background);
    padding: .4rem 1.5rem;
    color: var(--form-button);
    margin: 0 1rem;
}

.donate{
    text-align: center;
}