@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;700&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-size: 19px;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  transition: all 1s;
}

:root {
  --color-darkBlue: #11151C;
  --colors-brown: #c2541e;
  --colors-brown-dark: #752c03;
  --form-button: #88abc2;
  --colors-green: #bac776;
  --form-background: #d0e0eb;
  --colors-green-dark: #407563;
  --form-button-hover: #49708a;
  --colors-gray: #85868a;
  --color-violet: #0C0910;
  --color-headernew: rgb(40, 126, 0);
}
header {
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  height: 80px;
  padding: 0 6%;
  background-color: var(--color-headernew);
}

.Titulo {
  padding: 1rem 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.btn-menu {
  display: none;
}

.logo,
.logo img {
  padding: 0.1rem 1% 0.1rem 0;
  height: 100%;
  width: auto;
}

.nav-search {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  color: white;
  padding: 0 0.5rem;
}

.nav-link:hover {
  color: var(--colors-green);
  border-bottom: 2px solid var(--colors-green);
}

main {
  min-height:90vh;
  width: 1300px;
  margin:80px auto 0;
}

.Index{
  display: block;
  text-align: center;
}
.LogoFundacion{
  width: auto;
  padding: .5rem;
}

.DescipcionFundacion{
  padding: 1rem;
  font-size: 30px;
}

.Informacion{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Equipo{
  display: flex;
  justify-content: space-around;
}

.Contexto{
  display: block;
}


.Carta:hover{
  background-color: #36494E;
  color: white;
}
.Carta{
  box-shadow: 2px 2px 10px 2px #cccccc;
  padding: .5rem;
  width: 15rem;
  height: 15rem;
  text-align: center;
}

.Carta-img{
  height: 90%;
  width: auto;
}
.Carta-img img{
 width: auto;
 height: 100%; 
}

.Card-Events-img img{
  width: 25rem;
  height: 25rem;
}

.Comentario{
  margin-top: 1rem;
  box-shadow: 2px 2px 10px 2px #cccccc;
  border-radius: .5rem;
  display: block;
  padding: .5rem;
}

.comentario-header{
  padding: .2rem 0;
  text-transform: capitalize;
  display: block;
  font-weight: 700;
}

.Fecha{
  font-weight: 100;
}
/* Login and register */
form{
  box-shadow: 2px 2px 10px 2px #cccccc;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  background-color: var(--form-background);
  margin: 100px auto;
  width: 50%;
  border-radius: .1rem;
}

form p{
  padding: .5rem 0 ;
}
form p input{
  border-radius: .1rem;
  padding: .1rem .5rem;
  display: flex;
  width: 100%;
}
form button{
  border-radius: .1rem;
  font-weight: 700;
  cursor: pointer;
  margin: 1rem 0;
  padding: .2rem 0 ;
  background-color: var(--form-button);
}
form button:hover{
  background-color: var(--form-button-hover);
  color: white;
}

.CartaGenerico{
  box-shadow: 2px 2px 10px 2px #cccccc;
  margin: 2rem auto;
  display: flex;
  height: 12rem;
  width: 80%;
}
.CartaGenerico .CartaGenerico-img,
.CartaGenerico .CartaGenerico-img img{
  height: 12rem;
  width: 15rem;
}

.CartaGenerico-text{
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navBarNotices{
  text-align: center;
  display: block;
}
.navBarNotices a{
  font-weight: 700;
  color: black;
  padding: .5rem 1rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.subTitle{
  font-size: 25px;
}
.Contact{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Noticia{
  padding: 1rem;
}

.Contact a{
  margin: 1rem;
  padding: 1rem;
  background-color: var(--colors-green-dark);
}
.Contact a img{
  width: 15rem;
}
.GenericoPlantilla{
  width: 100%;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.telephone,.email{
  background-color: #11151C;
}

footer {
  bottom: 0;
  color: white;
  padding: 1rem .5rem 1rem;
  background-color: var(--colors-green-dark);
  margin-top: 3rem;
}

.Mensajes{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.iconsContact{
  color: black;
  text-align: center;
}
.iconsContact img{
  height: 10rem;
  width: 10rem;
}
.MensajesSection{
  align-items: center;
}
.maps{
  margin: auto;
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 70%;
}

#correo,#whatsapp{
  font-size: 89px;
}

/* FOR NOTICE AND EVENT (PAGE INDIVIDUALS) */
@media screen and (max-width: 1300px) {
  .information-img img {
    width: 100%;
    height: auto;
  }

  * {
    font-size: 18px;
  }

  main {
    width: 1200px;
  }
  .logo {
    height: 4rem;
  }
}

@media screen and (max-width: 1100px) {
  main {
    width: 1000px;
    margin-top: 80px;
  }
  .Equipo{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    font-size: 16px;
  }

  .Informacion-img{
    width: 90%;
  }
  .Informacion-img img{
    width: 100%;
  }
  
  .Carta{
    width: 12rem;
    height: 12rem;
  }
  .Carta-img{
    height: 9rem;
    width: 9rem;
    margin: 0 .5rem;
  }
  .information-text,
  .information-img {
    padding: 0 0.2rem;
    width: 50%;
  }
}

@media screen and (max-width: 992px) {
    
  header {
    width: 100%;
    height: 60px;
    justify-content: space-between;
  }
  .form-contact {
    width: 70%;
  }
  main {
    width: 95%;
  }
  .information {
    flex-direction: column;
  }
  .information-text {
    width: 100%;
  }
  .btn-menu {
    color: white;
    display: block;
  }

  .nav-search {
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    width: 50%;
    right: 0;
    top: 60px;
    background-color: #36494E;
    padding: 1rem 0;
    text-align: center;
  }
  .nav-link {
    padding: 0.5rem 0;
    width: 100%;
    display: block;
  }
  .Card-Events-img img{
    width: 15rem;
    height: 15rem;
  }
}

@media screen and (max-width: 768px) {
  .GenericoPlantilla,  
  .Informacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    font-size: 16px;
  }
  * {
    font-size: 16px;
  }
  .home {
    margin: auto;
    padding: 0;
    width: 100%;
  }

  .DescipcionFundacion{
    font-size: 19px;
  }

  .LogoFundacion{
    width: 90%;
    height: 80%;
  }
  .information-text {
    text-align: center;
  }

  .btn {
    margin-top: 1rem;
    width: 60%;
    margin: 1rem auto;
  }


  .iconsContact img{
    width: 5rem;

}

  .form-contact {
    width: 90%;
  }

  .nav-footer .nav-link{
    display: inline;
    padding: 1rem .5rem;

  }
  .information-img {
    width: 100%;
    height: auto;
  }

  main {
    overflow-x: hidden;
    width: 100%;
  }
  .grid{
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .Card-Events-img{
    padding: .5rem 0;
  }
  
  .Card-Events{
    border-radius: .5rem;
    width: auto;
    height: 100%;
    flex-direction: column;
  }

  .Events-text{
    display: none;
  }
  .Card-Events-img img{
    width: auto;
    height: 15rem;
  }


}
