{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<section>
  <h1 class="Titulo">noticias</h1>
  {% for noticia  in noticia  %}
  <article class="LayoutGenerico">
    <div class="CartaGenerico">
      <div class="CartaGenerico-img">
        <img src="{{MEDIA_URL}}/{{ noticia.img }}" alt="">
      </div>
      <div class="CartaGenerico-text">
        <h3 class="subTitle">{{noticia.titulo}}</h3>
        <p class="Events-text">
          {{noticia.contenido}}
        </p>
        <div>
          <h6>Creado: {{ noticia.creado }}</h6>
          <h6>Autor: {{ noticia.autor }}</h6>
      </div>
        <a href="/noticia/{{ noticia.id }}" class="Event-link">
          Leer Más...
        </a>
      </div>
    </div>
    {% endfor %}
  </article>
</section>
{% endblock %}