{% extends 'base.html' %}

{% load static %}

{% block contenido %}


    <main>
        <section class="register-panel">
          <h1 class="Title">Panel de registro</h1>
          <form class="panel-register">
            <input type="text" placeholder="Usuario">
            <input type="text" placeholder="Apellido">
            <input type="text" placeholder="Correo">
            <input type="text" placeholder="Password">
            <input type="text" placeholder="Confirmar Password">
            <button>Registar!</button>
          </form>
        </section>
    </main>

{% endblock %}