FinalInformatorio/finalInfo/finalInfo/settings/local.py
FinalInformatorio/finalInfo/finalInfo/settings/base.py
FinalInformatorio/finalInfo/finalInfo/settings/__pycache__
FinalInformatorio/finalInfo/finalInfo/__pycache__
FinalInformatorio/finalInfo/db.sqlite3
