{% extends 'base.html' %}

{% load static %}

{% block contenido %}
<section>
  <h1 class="Titulo">Contacto</h1>
  <article class="Mensajes">
        <a class="iconsContact" >
          <i class="fa-solid fa-envelope" id="correo">
          </i>
          <h3>fundacionmemorias@gmail.com</h3>
        </a>
        <a class="iconsContact" href="https://api.whatsapp.com/send?phone=5493624395069">
          <i class="fa-brands fa-whatsapp" id="whatsapp">
          </i>
          <h3>0362 439-5069</h3>
        </a>
  </article>
  <h1 class="Titulo">Ubicacion</h1>
  <div class="maps">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56658.35203114457!2d-59.039513582919554!3d-27.433529073818615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450b028a30bf01%3A0x8cc0b1c2a708a8de!2sFundaci%C3%B3n%20Memorias%20de%20Nuestro%20Pueblo!5e0!3m2!1ses-419!2sar!4v1661738670188!5m2!1ses-419!2sar" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <div class="maps-text">
          <h1>Fundación Memorias de Nuestro Pueblo</h1>
          <h3>Santiago del Estero 4535, H3514 Fontana, Chaco</h3>
      </div>
  </div>
</section>
{% endblock %}
