{% extends 'base.html' %}

{% load static %}

{% block contenido %}
    <section >
      <article class="Index">
        <div class="LogoFundacion">
          <img src="{% static '/img/logo.jpg' %}" alt="" />
        </div>
        <h3 class="DescipcionFundacion">Esta pagina fue creada con el fin de preservar las memorias de nuestro pueblo. Muchas gracias por su atencion y
          su visita a la pagina</h3>
      </article>
    </section>

    <section>
      <article class="LayoutGenerico">
        <h1 class="Titulo">Noticias</h1>
        {% for noticia  in noticias  %}
        <div class="CartaGenerico">
          <div class="CartaGenerico-img">
            <img src="{{MEDIA_URL}}/{{ noticia.img }}" alt="">
          </div>
          <div class="CartaGenerico-text">
            <h3 class="subTitle">{{noticia.titulo}}</h3>
            <p class="Events-text">{{noticia.contenido|slice:":100"}}</p>
            <h6>Creado: {{ noticia.creado }}</h6>
            <h6>Autor: {{ noticia.autor }}</h6>
             <a href="/noticia/{{ noticia.id }}" class="Event-link">Leer Más...</a>
          </div>
        </div>
        {% endfor %}
      </article>
    </section>
    <section>
      <h1 class="Titulo">Eventos</h1>
      <article class="LayoutGenerico">
        {% for evento  in eventos  %}
        <div class="CartaGenerico">
          <div class="CartaGenerico-img">
            <img src="{{MEDIA_URL}}/{{ evento.img }}" alt="">
          </div>
          <div class="CartaGenerico-text">
            <h3 class="subTitle">{{evento.nombre}}</h3>
            <p class="Events-text">{{evento.descripcion|slice:":100"}}</p>
            <h6>Creado: {{ evento.creado }}</h6>
            <h6>Autor: {{ evento.organizador }}</h6>
             <a href="/evento/{{ evento.id }}" class="Event-link">Leer Más...</a>
          </div>
        </div>
        {% endfor %}
      </article>
    </section>
    
    {% endblock %}